@import "../deps";

:host {
  padding: .5rem 1rem;
  border-radius: 2rem;
  border: 1px solid #bbb;
  background-color: transparent;
  color: #999;
  transition: all 100ms ease-out !important;
  font-family: inherit;
  &:hover {
    color: #555500;
    border-color: #333;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(77, 144, 254);
  }
  @each $colour, $value in $colours {
    &.#{$colour} {
      background-color: $value;
      color: set-colour($value);
    }
  }
}