<dom-module id="app-button">
    <link href="../../dist/css/components/app-button.css" inline rel="stylesheet">
    <template>
        <content></content>
    </template>
    <script>
        Polymer({
            is: "app-button",
            extends: "button",
            properties: {
                buttonStyle: {
                    type: String,
                    value: 'default'
                }
            },
            ready: function () {
                window.App.updateElements(Polymer.dom(this.root));
            },
            attached: function () {
                window.App.animateElement(this);
                window.App.captureLinks();
            }
        });
    </script>
</dom-module>