<dom-module id=app-container>
    <link href="../css/components/app-container.css" rel="stylesheet" inline>
    <template>
        <content></content>
    </template>
    <script>
        Polymer({
            is: "app-container",
            extends: "main",
            properties: {

            },
            ready: function () {
                window.App.updateElements(Polymer.dom(this.root));
            },
            attached: function () {
                window.App.captureLinks();
                window.App.animateElement(this);
            }
        });
    </script>
</dom-module>