<dom-module id=app-sidebar>
    <link href="../../dist/css/components/app-sidebar.css" rel="stylesheet" inline>
    <template>
        <a href="{{siteUrl}}">[[siteName]]</a>
        <content></content>
    </template>
    <script>
        Polymer({
            is: "app-sidebar",
            extends: "nav",
            properties: {
                loadAnimate: {
                    type: String,
                    value: "null"
                },
                siteName: {
                    type: String,
                    value: "null"
                },
                siteUrl: {
                    type: String,
                    value: "null"
                }
            },
            ready: function () {
                window.App.updateElements(Polymer.dom(this.root));
            },
            attached: function () {
                window.App.captureLinks();
                window.App.animateElement(this);
            }
        });
    </script>
</dom-module>