<dom-module id=app-sidebar>
    <link href="../../dist/css/components/app-sidebar.css" rel="stylesheet" inline>
    <template>
        <a href="{{siteSettings.site_url}}">{{siteSettings.site_name}}</a>
        <content></content>
    </template>
    <script>
        Polymer({
            is: "app-sidebar",
            extends: "nav",
            properties: {
                siteSettings: {
                    type: Object,
                    value: function() {
                       return {};
                    },
                    notify: true
                }
            },
            ready: function () {
                window.App.updateElements(Polymer.dom(this.root));
                if(window.indigo) {
                    this.set('siteSettings', window.indigo);
                }
            },
            attached: function () {
                window.App.captureLinks();
                window.App.animateElement(this);

                var sidebar = this;
                delete sidebar.dataset.animate;

                // Toggle when mobile view
                if("matchMedia" in window) {
                    var mql = window.matchMedia("(max-width: 575px)");
                    console.log(mql);
                    mql.addListener(function() {
                        sidebar.toggleSidebar();
                    });
                    this.toggleSidebar();
                }
            },
            toggleSidebar: function() {
                var mql = window.matchMedia("(max-width: 575px)");
                if(mql.matches) {
                    this.show();
                } else {
                    this.hide();
                }
            },
            show: function() {
                var sidebar = this;
                var direction = (sidebar.classList.contains('right-sidebar')) ? 'translateX(100%)' : 'translateX(-100%)';
                sidebar.style.willChange = 'transform';
                sidebar.style.transform = direction;
                sidebar.style.willChange = 'auto';
            },
            hide: function() {
                var sidebar = this;
                sidebar.style.willChange = 'transform';
                sidebar.style.transform = 'translateX(0)';
                sidebar.style.willChange = 'auto';
            }
        });
    </script>
</dom-module>