body, html {
  margin: 0; }

[unresolved="true"] {
  opacity: 0; }

[data-animate] {
  opacity: 0; }
  [data-animate][unresolved="true"] {
    will-change: opacity; }

.animate--fadeIn {
  opacity: 1;
  transition: opacity 200ms linear; }

[data-animate="slideLeftIn"] {
  will-change: opacity, transform;
  transform: translateX(-100%); }

.animate--slideLeftIn {
  opacity: 1;
  transform: translateX(0);
  transition: transform 300ms linear, opacity 300ms linear; }

:root {
  --logo-color: red;
  --logo-color-hover: green; }
